.search-input-container {
  position: relative;
  background-color: #d4d4d480;
  padding: 10px 20px;
  border-radius: 4px;

  .search-input {
    width: 300px;
  }

  .search-input-list {
    position: absolute;
    z-index: 1;

    .search-input-list-item {
      display: block;
      width: auto;

      .left-element {
        display: inline-block;
        margin-right: 50px;
      }

      .right-element {
        display: inline-block;
        float: right;
      }
    }
  }
}
