.search-input-container {
  position: relative;
  background-color: #d4d4d480;
  padding: 10px 20px;
  border-radius: 4px; }

.search-input-container .search-input {
  width: 300px; }

.search-input-container .search-input-list {
  position: absolute;
  z-index: 1; }

.search-input-container .search-input-list .search-input-list-item {
  display: block;
  width: auto; }

.search-input-container .search-input-list .search-input-list-item .left-element {
  display: inline-block;
  margin-right: 50px; }

.search-input-container .search-input-list .search-input-list-item .right-element {
  display: inline-block;
  float: right; }
